.layout__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-image: url("../../assets/FondEcran.png");
    color: white;
    border-radius: 25px;
    height: 223px;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin: 30px 40px;
    
    @media screen and (max-width: 700px) {
        height: 111px;
        font-size: 24px;
        align-items: flex-start;
        text-align: left;
        padding: 30px 80px;
        border-radius: 10px;
        margin: 30px 10px;
    }
}
