.card {
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    &__content {
      &-title {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin: 0;
      }
  
      &-location {
        font-size: 18px;
        font-weight: 500;
        margin: 0;
      }
  
      &-tags {
        display: flex;
        flex-direction: row;
        padding: 0;
      }
  
      &-tag {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        list-style: none;
        background-color: #FF6060;
        border-radius: 10px;
        padding: 5px;
        margin-right: 5px;
      }
    }
  
    &__host {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      &-details {
        display: flex;
        flex-direction: row;
      }
  
      &-name {
        font-size: 18px;
        font-weight: 500;
        color: #FF6060;
        max-width: 90px;
        min-width: 64px;
        height: 64px;
        position: relative;
        top: 12%;
        margin-right: 0px;
      }
  
      &-picture {
        border-radius: 50%;
        height: 64px;
        width: 64px;
      }
    }
  
    &__rating {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 20px;
  
        &-star {
            margin-right: 5px;
            padding: 5px;
            width: 25px;
        }
    }
    @media screen and (max-width: 700px) {
        margin: 0 10px;
        flex-direction: column;
        &__host {
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            &-name {
                position: static;
                margin-top: 3px;
                font-size: 12px;
                max-width: 50px;
                min-width: 20px;
                height: auto;
                margin-right: 10px;
            }
            &-picture {
                height: 32px;
                width: 32px;
              }
        }
        &__content {
            &-title {
                font-size: 18px;
            }
            &-location {
                font-size: 14px;
                font-weight: 500;
                margin: 0;
            }
        
            &-tag {
                font-size: 10px;
            }
        }
        &__rating {
            margin-bottom: 0;
              &-star {
                  width: 14px;
              }
          }
    }
}