.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 40px;

    &__logo {
        max-height: 68px;
    }

    &__navigation {
        display: flex;
        list-style: none;
    }

    &__nav-link {
        text-decoration: none;
        margin-left: 20px;
        color: #000000;
        font-size: 24px;

        &:hover {
            text-decoration: underline;
        }
    }

    @media screen and (max-width: 900px) {
        margin: 0 10px;
        &__nav-link {
            text-transform: uppercase;
            color: #000000;
            font-size: 12px;
        }

        &__logo {
            max-height: 33.09px;
        }
    }
}